@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  font-family: 'Rubik', sans-serif;
}

.omnibar-container {
  position: relative;
  width: 70%;
}

.suggestion {
  display: flex;
  flex-direction: row;
  margin: 10px;

  p {
    margin: 0;
    padding: 3px;
    font-family: 'Rubik', sans-serif;
  }
}

.tag {
  line-height: 1.5em;
  padding: 3px 7px;
  border-radius: 5px;
  font-weight: 600;
  margin-right: 3px;
}

.tag-commit {
  background-color:lightblue;
}

.tag-promise {
  background-color: pink;
}

.tag-time {
  background-color: lightgoldenrodyellow;
}

.react-autosuggest__input {
  width: 100%;
  height: 30px;


}

.react-autosuggest__container {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
